{% extends "base2.html" %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}로그인 성공!{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    {% if request.session.login %}
    <h3>{{user.name}} 님! EZ ORDER에 오신 것을 환영합니다.</h3>
    <div class="w3-container">
      <button
        onclick="location.href='/voice/main'"
        class="w3-button w3-block w3-black w3-ripple"
      >
        말로 주문하기</button
      ><br />
      <button
        onclick="location.href='/menu/main'"
        class="w3-button w3-block w3-black"
      >
        터치로 주문하기
      </button>
    </div>
    {% else %}
    <h3>로그인을 해주세요!</h3>
    <div class="w3-container">
      <button
        onclick="location.href='/faceDetect'"
        class="w3-button w3-block w3-black w3-ripple"
      >로그인 하러 가기</button>
    </div>
    {% endif %}
    {% endblock %}
  </body>
</html>
