<!DOCTYPE html>
<html>
<head>
<title>EZ ORDER</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3 w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
<br><br>
    <h3><b>EZ ORDER</b></h3>
    {% if request.session.login %}
    <button onclick="document.getElementById('info').style.display='block'" class="w3-button w3-black"><h4>{{request.session.login}}님 환영합니다.</h4></button>
    <h6><a class="w3-button w3-grey" href="../logout" style="text-decoration:none">로그아웃</a></h6>
    {% else %}
    <h3><i class="fab fa-github-alt" style='font-size:20px'></i> 비회원 입니다.</h3>
    {% endif %}
    <p class="w3-text-grey">by acorn</p>
  </div>
  <div class="w3-bar-block">
    <a href="/faceDetect/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>HOME</a> 
  </div>
{% comment %}   <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> {% endcomment %}
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    {% if request.session.login %}
    <i style="cursor:pointer" onclick="document.getElementById('info').style.display='block'" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity">{{request.session.login}}님 환영합니다.</i>{% comment %} <img src="/w3images/avatar_g2.jpg" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"> {% endcomment %}
    {% else %}
    <a href="#"><i class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity">비회원 입니다.</i><img src="/w3images/avatar_g2.jpg" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    {% endif %}

    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>EZ MENU</b></h1>
        <div class="w3-bar w3-black">
        {% comment %} <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'ALL')">All</button> {% endcomment %}
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Coffee')">COFFEE</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Beverage')">BEVERAGE</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Tea')">TEA</button>
      </div>

  </header>
  <div id="Coffee" class="w3-row-padding city">
  
  {% for coffee in coffeelist %}

    <div class="w3-third w3-container  w3-center w3-margin-bottom"><a href="/writing/order">
      <img src="{{coffee.mimg_path}}" alt="tea" style="width:60%" class="w3-hover-opacity"></a>
      <div class="w3-container w3-white" style="height:100px">
        <p><b>{{coffee.mName}}</b></p>
        <p style="overflow:hidden; word-break: break-word; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical">{{coffee.explain}}</p>
      </div>
    </div>

  {% endfor %}

  </div>

  <div id="Tea" class="w3-row-padding city">
  
    {% for tea in tealist %}
  
      <div class="w3-third w3-container  w3-center w3-margin-bottom"><a href="/writing/order">
        <img src="{{tea.mimg_path}}" alt="tea" style="width:60%" class="w3-hover-opacity"></a>
        <div class="w3-container w3-white" style="height:100px">
          <p><b>{{tea.mName}}</b></p>
          <p style="overflow:hidden; word-break: break-word; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical">{{tea.explain}}</p>
        </div>
      </div>
  
    {% endfor %}
  
    </div>

    <div id="Beverage" class="w3-row-padding city">
  
      {% for beverage in beveragelist %}
    
        <div class="w3-third w3-container  w3-center w3-margin-bottom"><a href="/writing/order">
          <img src="{{beverage.mimg_path}}" alt="tea" style="width:60%" class="w3-hover-opacity"></a>
          <div class="w3-container w3-white" style="height:100px">
            <p><b>{{beverage.mName}}</b></p>
            <p style="overflow:hidden; word-break: break-word; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical">{{beverage.explain}}</p>
          </div>
        </div>
    
      {% endfor %}
    
    </div>
    </div>
  </div>


  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
      <div> 
       <a href=/voice/main>
         <button class="w3-button w3-white"><i class="fas fa-microphone w3-margin-right"></i>음성</button>
       </a>
{% comment %}        <a href=/voice/main>
        <button class="w3-button w3-white"><i class="fa fa-marker w3-margin-right"></i>버튼2</button>
       </a>
       <a href=/voice/main>
        <button class="w3-button w3-white"><i class="fa fa-marker w3-margin-right"></i>버튼3</button>
       </a> {% endcomment %}
        {% comment %} <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>버튼3</button> {% endcomment %}
      </div>
    </div>
  </footer>

  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">acorn</a></div>

<!-- End page content -->


<!--info modal-->
<div id="info" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <span onclick="document.getElementById('info').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <h2 style="color:black">회원 정보</h2>
{% comment %}       <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"> {% endcomment %}
    </div>
   <form class="w3-container" action="../info/" name="f" method="post">
{%  csrf_token  %}
<input type="hidden" name="picture" value="" >
<table class="w3-table-all w3-border"><caption>회원 정보 보기</caption>
  <tr><td rowspan="6" width="30%">
 <img src="/file/picture/{{user.picture}}" width="200" height="210"></td>
    <th width="20%">아이디</th><td>{{user.id}}</td></tr>
   <tr><th>이름</th><td>{{user.name}}</td></tr>
   <tr><th>성별</th><td>{% if user.gender == 1 %} 남
                        {% else %} 여
                        {% endif %}</td></tr>
   <tr><th>전화</th><td>{{user.tel}}</td></tr>
   <tr><th>이메일</th><td>{{user.email}}</td></tr>
   <tr><td colspan="2" class="w3-center">
     <button class="w3-button w3-black" href="../../update/{{user.id}}/">수정</button>
{% if request.session.login != 'admin' %}
     <button class="w3-button w3-black" href="../../delete/{{user.id}}/">탈퇴</button>
{% endif %}
</td></tr>
</table></form>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button onclick="document.getElementById('info').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
    </div>

  </div>
</div>
</div>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

//update
function  inputcheck(f) {
  if(f.pass.value == "") {
      alert("비밀번호를 입력하세요");
      f.pass.focus();
      return false;
    }
  }
  function win_passchg() {
   var op = "width=500, height=250, left=50,top=150";
   open("../../password/{{user.id}}/","",op);
  }
  function win_upload(){
    var op = "width=500,height=150,left=50, top=150";
    open("../../picture/","",op);
  }

  function openCity(evt, cityName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
</script>

</body>
</html>